@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&display=swap');

:root {
    font-family: 'Lato', system-ui, -apple-system, sans-serif;
}

.button{
    background-color: rgb(223, 179, 179);
    color: rgb(95, 255, 105);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
